#window {
    font-family: monospace;
    color: --wofi-color1;
    overflow: hidden;
    border-radius: 6px;
    background: linear-gradient(--wofi-color8, --wofi-color13);
}

#outer-box {
    margin: 3px;
    padding: 1rem 0.5rem;
    border-radius: 4px;
    background-color: --wofi-color0;
}

#input {
    border-radius: 4px;
    padding: 1rem 1.5rem;
    margin: 0 6px;
    border: 2px solid --wofi-color13;
    background: transparent;
}

#input:focus {
    border-color: --wofi-color8;
    box-shadow: 3px 3px 0 --wofi-color13;
}

#scroll {
}

#inner-box {
    margin: 0.5rem 0 0;
    padding: 0;
    border: 0;
}

#img {
    margin-right: 0.75em;
}

#text {
}

#unselected {
}

#selected {
}

#entry {
    margin: 0.5rem;
    padding: 1rem 1rem;
    border-radius: 4px;
    border: 1px solid --wofi-color8;
}

#entry:selected {
    background-color: --wofi-color8;
    background-color: --wofi-color6;
    box-shadow: 3px 3px 0 --wofi-color13;
}
